/*estructura*/

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
}

header{
    background: #8fb2bd;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    color: #333;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

main{
    background: #ebe7e0;
    color: #333333;
    flex-basis: 0;
    flex-grow: 8;
    padding: 0 18px 100px 20px;
}

aside{
    background: #bbbbb3;
    color: #333;
    flex-basis: 0;
    flex-grow: 2;
    padding: 42px 20px 40px 40px;
}

footer{
    background: #333333;
    flex-basis: 100%;
    color: #eee;
    padding: 20px 18px 30px 40px;
}

/*header items*/

img{
    border-radius: 100px;
    max-height: 190.08px;
    margin: 0 20px 0 0
}

h1{
    font-family: sans-serif;
    display: inline-block;
    text-decoration: underline solid #333 17px;
    font-size: 45px;
    font-weight: 900;
    margin: 0 0 20px 0
}

header>div>h2{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
}

/*main items*/

.section_tittle{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-decoration: underline solid 13px;
    text-underline-offset: 5px;
    margin: 20px 0 18px 0;
}

.section_subtittle{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 100;
}

.section_date{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 6px 0 20px 0;
}

/*aside items*/

.aside_tittle{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline solid 10px;
    text-underline-offset: 5px;
    margin: 0 0 20px 0;
}

.aside_subtittle{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline solid 2px;
    margin: 25px 0 10px 0;
}

aside>ul>li{
    list-style-type: square;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 0 0 5px 0;
}

/*footer items*/

.footer_tittle{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline solid 10px;
    text-underline-offset: 5px;
    margin: 0 0 30px 0;
}

footer>ul>li{
    list-style-type: square;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 0 0 5px 0;
}