/* CSS DOCUMENT */
@charset "UTF-8";

.cv{
    width: 65vw;
    min-width: 450px;
    margin:auto;
    box-shadow: 15px 15px 15px #3339;
    border-radius: 15px;
    
}

/*estructura*/

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    padding: 50px 0;
    background: linear-gradient(rgb(195, 221, 255), #ebe7e0);
}

header{
    background: #8fb2bd;
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: #333;
    border-radius: 0 15px 0 0;
}

.container{
    display: flex;
    width: 100%;
    min-height: 550px;
    flex-direction: row;
    flex-wrap: wrap;
}

main{
    background: #ebe7e0;
    color: #333333;
    flex-basis: 0;
    flex-grow: 8;
    padding: 0 18px 20px 20px;
}

aside{
    background: #bbbbb3;
    color: #333;
    flex-basis: 0;
    flex-grow: 2;
    padding: 42px 20px 40px 40px;
}

footer{
    background: #333333;
    flex-basis: 100%;
    color: #eee;
    padding: 20px 18px 30px 40px;
}

/*header items*/

img{
    border-radius: 100px;
    width: 150px;
    height: auto;
    max-height: 190.80px;
    margin: 0 20px 0 0
}

h1{
    font-family: sans-serif;
    display: inline-block;
    text-decoration: underline solid #333 17px;
    font-size: 45px;
    font-weight: 900;
    margin: 0 0 20px 0
}

header div h2{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
}

/*main items*/

section .tittle{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-decoration: underline solid 13px;
    text-underline-offset: 5px;
    margin: 20px 0 18px 0;
}

section .subtittle{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 100;
}

section .date{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 6px 0 20px 0;
}

/*aside items*/

aside .tittle{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline solid 10px;
    text-underline-offset: 5px;
    margin: 0 0 20px 0;
}

aside .subtittle{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline solid 2px;
    margin: 25px 0 10px 0;
}

aside ul li{
    list-style-type: square;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 0 0 5px 0;
}

/*footer items*/

footer .tittle{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline solid 10px;
    text-underline-offset: 5px;
    margin: 0 0 30px 0;
}

footer ul li{
    list-style-type: square;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 0 0 5px 0;
    a{
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 100;
        color: #eee;
    }
}