/* CSS DOCUMENT */
@charset "UTF-8";

/*fonts*/
@font-face {
    font-family: "chivo-black";
    src: url("fonts/chivo-black.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "chivo-extralightitalic";
    src: url("fonts/Chivo-ExtraLightItalic.ttf") format("truetype");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "chivo-extralight";
    src: url("fonts/Chivo-ExtraLight.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "bitter-light";
    src: url("fonts/BitterPro-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

/*estructura*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    background: linear-gradient(#916140, #f7b158);
    align-items: center;
}

header{
    background: #333;
    width: 65vw;
    min-width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: #eee;
    border-radius: 0 15px 0 0;
}

main{
    display: flex;
    width: 65vw;
    min-width: 450px;
    min-height: 550px;
    flex-direction: row;
    flex-wrap: wrap;
}

.container{
    background: #ebe7e0;
    color: #333333;
    flex-basis: 0;
    flex-grow: 8;
    padding: 0 18px 20px 20px;
}

aside{
    background: #bbbbb3;
    color: #333;
    flex-basis: 0;
    flex-grow: 2;
    padding: 42px 20px 40px 40px;
}

footer{
    width: 65vw;
    min-width: 450px;
    background: #333333;
    color: #eee;
    padding: 20px 18px 30px 40px;
}

/*header items*/

img{
    border-radius: 100px;
    max-height: 191px;
    margin: 0 20px 0 0;
}

h1{
    font-family: "chivo-black", sans-serif;
    display: inline-block;
    text-decoration: underline solid #eee 17px;
    line-height: 1.5;
    font-size: 45px;
    margin: 0 0 20px 0;
}

header div h2{
    font-family: "chivo-extralightitalic", sans-serif;
    font-size: 30px;
}

/*main items*/

section .tittle{
    font-family: "chivo-black", sans-serif;
    font-size: 40px;
    text-decoration: underline solid 13px;
    text-underline-offset: 5px;
    margin: 20px 0 18px 0;
}

section .subtittle{
    font-family: "bitter-light", serif;
    line-height: 1.4;
    font-size: 22px;
}

section .date{
    font-family: "chivo-extralight", sans-serif;
    font-size: 14px;
    margin: 6px 0 20px 0;
}

/*aside items*/

aside .tittle{
    font-family: "chivo-black", sans-serif;
    font-size: 20px;
    text-decoration: underline solid 10px;
    text-underline-offset: 5px;
    margin: 0 0 20px 0;
}

aside .subtittle{
    font-family: "chivo-black", sans-serif;
    font-size: 16px;
    text-decoration: underline solid 4px;
    margin: 25px 0 10px 0;
}

aside ul li{
    list-style-type: square;
    font-family: "chivo-extralight", sans-serif;
    font-size: 14px;
    margin: 0 0 5px 0;
}

/*footer items*/

footer .tittle{
    font-family: "chivo-black", sans-serif;
    font-size: 20px;
    text-decoration: underline solid 10px;
    text-underline-offset: 5px;
    margin: 0 0 30px 0;
}

footer ul li{
    list-style-type: square;
    font-family: "chivo-extralight", sans-serif;
    font-size: 14px;
    margin: 0 0 5px 0;
    a{
        font-family: "chivo-extralight", sans-serif;
        font-size: 14px;
        color: #eee;
    }
}